SpeechRecognition
langdetect
deep_translator
gtts
pyttsx3
dotenv
google-genai
pyautogui
pyaudio
AppOpener
pywhatkit
psutil
screen-brightness-control
pycaw==20230407
playwright
pyautogui 
# pygetwindow 
# pyperclip
playwright
selenium
webdriver-manager
ollama
rapidfuzz
python-Levenshtein
speedtest-cli
speedtest